{% extends 'layouts/main.html' %}
{% block title %}Which Squirrel Am I?{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Which Squirrel Am I?</h1>
</div>

<div class="container-fluid">
  <img alt="Bootstrap Image Preview" src="https://img-aws.ehowcdn.com/877x500p/photos.demandstudios.com/getty/article/223/249/488872871.jpg"
       width="1000" height="565" class="img-rounded">
  <form method=POST enctype=multipart/form-data action="{{ url_for('upload', feature='which_squirrel') }}">
      <input type=file name=photo>
      <input type="submit" value="Upload">
  </form>
</div>



{% endblock %}
